.TodoApp {
  background-color: rgb(194, 194, 194);
  color: #222;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
  font-family: 'Source Code Pro', monospace;
}
